APP_PORT=8080

DB_DATABASE=kado
DB_USERNAME=kado
DB_PASSWORD=kado
DB_EXTERNAL_PORT=5432

ADMIN_EMAIL=admin@kado.local
ADMIN_PASSWORD=Temp@123456
ADMIN_FULL_NAME=System Administrator

AUTO_SETUP=true
AUTO_MIGRATE=true
